
/* * {
  box-sizing: border-box;
  }*/

body {
  margin: auto;
  overflow-x: hidden;
  background-color: transparent;
  background-color: wheat;
  font-size: 20px;
  //animation: nighttime 60s ease-in-out infinite;
  }

@keyframes nighttime {
  0%    { }
  50%   { @include black(background-color, 1); }
  100%  { @include grass-green(background-color, 1); }
  }

.land {
  width: 120%;
  left: 0;
  padding-top: 50px;
  height: 225px;
  margin: auto;
  @include grass-green(background-color, 1);
  outline: 20px solid $color-green;
  }

p {
  width: $hpc;
  font-size: 20px;
  }

.user-panel {
  width: $hpc;
  margin-top: 20px; // coz there is an outline of the same size
  border-top: 5px solid black;
  padding: 2%;
  }