
/* * {
  box-sizing: border-box;
  }*/

body {
  width: ($hpc + 20%);
  padding: 0;
  overflow-x: hidden;
  @include grass-green(background-color, 1);
  @include white(color, 1);
  font-size: 20px;
  //animation: nighttime 60s ease-in-out infinite;
  }

@keyframes nighttime {
  0%    { }
  50%   { @include black(background-color, 1); }
  100%  { @include grass-green(background-color, 1); }
  }

.frame {
  width: 100%;
  height: 200px;
  margin: auto;
  background-color: transparent;
  }

p {
  width: $hpc;
  font-size: 20px;
  }