*,
*:after,
*:before {
  box-sizing: border-box;
  }

body {
  margin: auto;
  height: 100vh;

  background-color: $bg-color;
  font-size: 20px;
  overflow-x: hidden;
  @include no-select; // prevent all user selection
  }

.gameframe {
  left: 0;
  width: 120%;
  height: 225px;
  margin: auto;
  padding-top: 0px;

  box-shadow: inset -20px 0 50px $color-dark-green;
  @include grass-green(background-color, 1);
}

.mainframe { animation: load-up $duration ease-in; }

p {
  width: $hpc;
  font: {
    family: $general-text;
    size: 20px;
    }
  }

.hide-element {
  display: none;
  transition: ($duration / 2);
  }

h2 {
  margin: 0;

  font: {
    size: 16px;
    weight: bold;
    }
  line-height: normal;
  }

/* ----------< Mouse selection >----------> */

::-moz-selection { /* Code for Firefox */
  color: $color-black;
  background: $plate-color;
  }
::selection {
  color: $color-black;
  background: $plate-color;
  }

/* ----------< Scroll bar styling >----------> */

::-webkit-scrollbar { width: 12px; }
 
::-webkit-scrollbar-track {
    background: $dash-display-bg;
    box-shadow: 0 0 3px rgba(0,0,0,0.85) inset;
    border-radius: 4px;
    }
 
::-webkit-scrollbar-thumb {
    background: $dashboard-text;
    border-radius: 4px;
    box-shadow:
        0 0 3px rgba(0,0,0,0.5),
        0 0 3px rgba(0,0,0,0.5) inset;
    }

::-webkit-scrollbar-thumb:hover {
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
    }
