/**
 * Dashboard
 */

.dashboard-area { @include no-select; }

.dashboard {
  padding: {
    top: 15px;
    bottom: 15px;
    }
  border: {
    top: 1px solid rgba(255,255,255,0.15);
    radius: 25px;
    }
  background-color: $dash-display-bg;
  box-shadow:
    0 0 20px 0 rgba(0,0,0,0.75),
    0 10px 10px 0 rgba(0,0,0,0.75),
    inset 0 25px 15px 0 rgba(0,0,0,0.3), // upper shadow line
    inset 0 -30px 30px 0 rgba(42,38,44,1),
    inset 0 0 30px 0 rgba(0,0,0,1),
    
    0 15px 50px 0 rgba(235,159,76,0.3);

  font: {
    family: $odometer-font;
    }
  color: rgba(235,159,76,0.95);
  text: {
    align: center;
    shadow:
      1px 1px 1px rgba(85,8,0,0.75),
      0 0 10px rgba(235,159,76,0.5);
    }
}

.inverse-disp {
  padding: {
    left: 2px;
    right: 2px;
  }
  background-color: rgba(235,159,76,0.85);
  border-radius: 2px;
  color: darken($dash-display-bg, 5%);
  text-shadow: none;
  box-shadow: 0 0 2px rgba(85,8,0,0.5);
  }

/**
 * Dashboard text sizes
 */
.small-text       { font-size: 22px; }
.medium-text      { font-size: 28px; }
.large-text       { font-size: 36px; }

/**
 * Clock
 */

.clock-date       {}
.celsius-display  {}
.clock-time       {}

/**
 * Odometer
 */

.odometer-area {
  width: 75%;
  margin: {
    top: 5px;
    left: auto;
    right: auto;
    }
  border-top: 1px solid  rgba(235,159,76,0.35);
  }

.odometer {
  margin: {
    left: 10px;
    right: 10px;
    }
  font-size: 36px;
  }

/**
 * Energy area
 */
.energy-area {
  width: 75%;
  margin: {
    left: auto;
    right: auto;
    }
  border-bottom: 1px solid rgba(235,159,76,0.35);
  }

/**
 * Status icons
 */
.status-icons-area {
  width: 100%;
  margin: auto;
  text-align: center;
  }

.status-icon { width: 25px; }

.icon-driver { width: 14px; }
.icon-energy {}

.icon-left-index,
.icon-right-index {
  width: 16px;
  }

.icon-lights  {}
.icon-engine  {}
.icon-battery { width: 18px; }
.icon-doors   { width: 20px; }