/**
 * Info unit
 */

.info-unit {
  width: 85%;
  margin: auto;
  padding: 10px 0;

  border: {
    top: 1px solid rgba(255,255,255,0.15);
    radius: 15px;
    }
  background-color: $dash-display-bg;

  // Very similar shadowing to the dashboard's
  box-shadow:
    0 0 20px 0 rgba(0,0,0,0.75),
    0 10px 10px 0 rgba(0,0,0,0.75),
    inset 0 25px 15px 0 rgba(0,0,0,0.3), // upper shadow line
    inset 0 -30px 30px 0 rgba(42,38,44,1),
    inset 0 0 30px 0 rgba(0,0,0,1);
  }

.user-money {
  margin: 0;
  padding: 0;

  text-align: center;

  @include no-select;
  @include white(color, 0.75)
  }

.money-amount {}

.unread-msg {
  margin: 0;
  margin-bottom: 1%;

  text-align: center;
  font-size: 14px;
  @include white(color, 0.75)
}

.msg-amount {}

.msg-wall {
  width: 95%;
  height: 300px;
  margin: auto;
  padding: 0;

  border-radius: 4px;
  background-color: transparent;
  box-shadow:
    inset 0 10px 10px 0 rgba(0,0,0,0.2),
    0 0 30px 0 rgba(0,0,0,0.5);

  list-style: none;
  overflow-y: scroll;
  }

.msg-item {
  width: 98%;
  margin: {
    top: 1%;
    bottom: 1%;
    left: 4px;
    //right: auto;
    }
  padding: {
    top: 2%;
    bottom: 2%;
    left: 2.5%;
    right: 2.5%;
    }
  background-image: linear-gradient(to bottom,
    rgba(187,191,164,0.9) 50%,
    rgba(187,191,164,0.45) 100%);
  border-radius: 5px;
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.25);
  }

.msg-received {
  margin: 0;
  margin-bottom: 2%;

  border-bottom: 1px solid rgba(187,191,164,1);
  font: {
    family: monospace;
    size: 12px;
    }
  text-align: center;
  line-height: normal;
  }

.msg-sender {
  margin: 0;
  margin-top: 1%;
  padding: {
    top: 0.25%;
    bottom: 0.25%;
    left: 3%;
    right: 3%;
    }

  background-color: rgba(187,191,164,1);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font: {
    family: monospace;
    size: 12px;
    }
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  }

.msg-content {
  margin: 0;

  color: rgba(47,39,32,1);
  font: {
    size: 18px;
    family: $general-text;
    }
  text-shadow: 0 0 5px rgba(0,0,0,0.25);
  }

.msg-content-cost {}

.msg-energy-charge-container {
  font-size: 18px;
  margin: 0;
  }
.msg-energy-charge-amount {
  font-weight: bold;
  }

// The action buttons

// Buttons container
.msg-actions {
  margin: auto;
  margin-top: 2%;

  // Styles for both action buttons
  button {
    height: 30px;

    text-align: center;
    border-color: transparent;

    &:focus { outline: none; }
    }
  }

.msg-accept {
  display: inline-block;
  width: 50%;

  background-color: rgb(47,79,65);
  border: {
    top-left-radius: 5px;
    bottom-left-radius: 5px;
    }
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.75);
  }

.msg-delete {
  display: inline-block;
  width: 50%;

  background-color: rgba(120,18,18,1);
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);
  border: {
    top-right-radius: 5px;
    bottom-right-radius: 5px;
    }
  color: rgba(255,255,255,0.75);
  }

// Message accepted & deleted. These classes are added by JS when the buttons
// are clicked
.msg-accepted { background-color: rgb(36,132,34); }
.msg-deleted  { background-color: rgb(221,34,34); }

// Single button happens when the "ignore/delete" buttons is not displayed
.single-button {
  width: 100%;
  border-radius: 5px;
  }

// This is for the text that appears after the user has accepted or deleted
// the message
.msg-action-response {
  text-align: center;
  }
// And these are the icons the precede those texts
.icon-accepted,
.icon-deleted {
  margin-right: 5px;
  vertical-align: bottom;
  }
