/**
 * Main screen
 *
 * - Title,
 * - Player input area,
 * - Extras,
 * - Info
 */

.main-screen {
  clear: both;
  position: absolute;
  z-index: 99;
  width: $hpc;
  height: 100vh;
  margin: auto;
  opacity: 0.95;

  color: white;
  text-align: center;
  background: $main-screen-color;
  background-image: repeating-linear-gradient(to left,
    transparent 1px,
    rgba(0,0,0,0.25) 15%);
  border: 10px solid $bg-color;
  }

.main-screen-title {
  margin: {
    top: 0;
    bottom: 2%;
    }
  padding: {
    top: 1%;
    bottom: 1%;
  }

  background: rgba(255,255,255,0.05);
  font: {
    family: $main-display-bold;
    size: 60px;
    weight: normal;
    }
  text-shadow:
    0 2px 0 rgb(120,120,120),
    0 6px 0 black;
  letter-spacing: 5px;
  line-height: 1em;
  }

.main-screen-subtitle { font-size: 40px; }
.main-screen-text   {}

// Player name input
.input-field {
  width: 300px;

  background-color: rgba(240,240,240,1);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  border: 5px solid $plate-color;
  font: {
    family: $plate-font;
    size: 40px;
    }
  text-align: center;

  &:focus {
    border: 5px solid $plate-color;
    box-shadow: 0 0 25px $plate-color;
    outline: none;
    }
  }

.main-screen { color: white; }

// Start & Restart buttons:
.input-submit {
  width: 300px;
  height: 50px;
  margin-top: 1%;

  background-color: $plate-color;
  font: {
    size: 40px;
    family: $odometer-font;
    }
  text-shadow:
    1px 1px 0 $plate-color,
    0 0 8px rgba(0,0,0,0.5);
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);

  &:focus {
    border: none;
    background-color: $plate-color;
    box-shadow: 0 0 25px $plate-color;
    outline: none;
    }
}

.player-name {}

.extras-section {
  text-shadow: 0 0 5px rgba(0,0,0,0.75);
  font: {
    size: 30px;
    family: $main-display-bold;
    }
  }

.cheatsheet {

  h2 {
    letter-spacing: 2px;
    font: {
      family: $main-display-bold;
      size: 2em;
      }
    background: rgba(255,255,255,0.05);
    text-shadow: 0 0 5px rgba(0,0,0,0.75);
  }

  p {
    margin: {
      top: 0.5%;
      bottom: 0.5%;
      }

    background: rgba(255,255,255,0.05);
    font-size: 1.15em;
    text-shadow: 0 0 5px rgba(0,0,0,0.75);
    line-height: 1.25em;
    transition: $duration / 3;

    &:hover {
      color: white;
      background: rgba(245,156,51,0.75);
      }
    }

    > :first-child { margin-top: 2%; }
  }