.roadtrack {
  position: relative;
  display: block;
  width: $hpc;
  height: 94px;

  background-color: rgb(20,20,20);
  box-shadow:
    inset -15px 0 15px 10px rgba(0,0,0,0.85),
    inset 0 31px 10px rgba(40,40,40,0.75),
    inset 0 62px 10px rgba(10,10,10,1),
    inset 0 94px 10px rgba(40,40,40,0.75),
    0 -2px 5px 0 $color-black,
    0 2px 5px 0 $color-black;

  &:nth-child(1) {
    border-top: 5px double;
    @include warning-yellow(border-top-color, 1);
    }
  &:nth-child(2) {
    border-bottom: 5px double;
    @include warning-yellow(border-bottom-color, 1);
    }
  }

.roadtrack-separator {
  border-bottom: 5px dashed;
  @include white(border-bottom-color, 0.75);
  }

.roadtrack-motion {
  animation:
    start 750ms ease-in 1 forwards,
    motion ($duration / 10) linear 750ms infinite;
  }

  @keyframes motion {
    from  { left: -25px; }
    to    { left: -55px; }
    }

  @keyframes start {
    from { left: 0; }
    to { left: -55px; }
    }

.pothole {
  position: relative;
  width: 30px;
  height: 30px;
  top: -50px;
  right: -2000px;
  background: rgba(0,0,0,0.85);
  border-radius: 50%;
  animation: pothole-motion 13s linear infinite;
  }

@keyframes pothole-motion {
  0% {}
  100% { right: 2000px; }
}