.roadtrack {
  position: relative;
  display: block;
  width: $hpc;
  height: 94px;

  //background-color: rgb(80,80,80);
  background-color: rgba(20,20,20,1);
  box-shadow:
    inset -15px 0 15px 10px rgba(0,0,0,0.65),
    inset 0 35px 10px rgba(30,30,30,0.75),
    inset 0 62px 10px rgba(60,60,60,0.9),
    inset 0 -35px 10px rgba(40,40,40,0.95);
  }
  .track-left {
    border-top: 5px double;
    @include warning-yellow(border-top-color, 1);
    }
  .track-right {
    border-bottom: 5px double;
    @include warning-yellow(border-bottom-color, 1);
    }

.roadtrack-separator {
  border-bottom: 5px dashed;
  @include white(border-bottom-color, 0.75);
  }

.roadtrack-motion {
  animation:
    start 750ms ease-in 1 forwards,
    motion ($duration / 10) linear 750ms infinite;
  }

  @keyframes motion {
    from  { left: -25px; }
    to    { left: -55px; }
    }

  @keyframes start {
    from { left: 0; }
    to { left: -55px; }
    }

.pothole {
  position: relative;
  width: 30px;
  height: 30px;
  top: -50px;
  right: -2000px;
  background: rgba(0,0,0,0.85);
  border-radius: 50%;
  animation: pothole-motion 13s linear infinite;
  }

@keyframes pothole-motion {
  0% {}
  100% { right: 2000px; }
  }

.lamp-post {
  position: relative;
  width: 50px;
  height: 60px;
  top: 15px;
  right: -3000px;
  background: rgba(255,255,255,0.25);
  z-index: 1;
animation: lamp-post-motion 20.5s linear infinite;
  }

@keyframes lamp-post-motion {
  0% {}
  100% { right: 3000px; }
}

.lamp-head {
  margin: auto;
  width: 20px;
  height: 40px;

  background: red;
  border-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  box-shadow: 0 35px 175px 25px yellow;
}
.head-support {
  margin: auto;
  width: 5px;
  height: 10px;
  background: green;
}
.post-elem {
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: blue;
}