/**
 * User panel is the section that contains and displays all the information
 * needed for the user.
 */

.user-panel {
  width: $hpc;
  margin-top: 20px; // coz there is an outline of the same size
  border-top: 5px solid black;
  background: purple;
  
 
  }

.game-details {
  background: blue;
  width: 100%;
  margin: 0;
  box-shadow: inset 0 0 0 1px red;
  }

table {
  width: $hpc;
  margin: 0 auto;
  border-collapse: collapse;
  }

tr {}

td {
  width: ($hpc / 3);
  margin: 0;
  border: 1px solid blue;
  }

.small-heading {
  margin: 0;
  line-height: normal;
  font: {
    family: $small-heading;
    size: 20px;
    }
  }

.the-player-name {
  font: {
    size: 50px;
    weight: bolder;
    family: $main-display-bold;
    }
  }

.current-money {}


/**
 * Dashboard
 */

.dashboard-area {
  border: {
    radius: 25px;
    }
  background-color: rgb(37,9,6);
  box-shadow:
    0 0 20px 0 rgba(0,0,0,0.75),
    0 10px 10px 0 rgba(0,0,0,0.75),
    inset 0 25px 15px 0 rgba(0,0,0,0.3), // upper shadow line
    inset 0 -30px 30px 0 rgba(73,12,12,0.5),
    inset 0 0 30px 0 black;

  font: {
    family: $odometer-font;
    size: 30px;
    }
  color: rgba(235,159,76,0.95);
  text: {
    align: center;
    shadow:
      1px 1px 1px rgb(85,8,0),
      0 0 10px rgb(169,10,78);
    }

  @include no-select;
  }

/**
 * Clock
 */

.clock-area {}

.clock-date {
  font-size: 22px;
  }

.celsius-display {
  font-size: 22px;
  }

.clock-time {
  font-size: 36px;
  }

/**
 * Odometer
 */

.odometer-area {
  width: 75%;
  margin: auto;
  }

.odometer {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 36px;
  }

.odo-text {}
.odo-km-text {}

/**
 * Status icons
 */

.status-icons-area {}

.status-icon              { width: 25px; }

.status-icon:first-child,
.status-icon:last-child,  { width: 16px; }

.status-icon:nth-child(2) { width: 18px; }
.status-icon:nth-child(6) { width: 20px; }

/**
 * Player name input
 */

.player-name-input-area {
  clear: both;
  display: block;
  width: auto;
  height: 125px;
  padding: 15px;
  border: 1px solid blue;

  background: pink;
  }

.input-field {}
.input-submit {}

.player-name {
  font-size: 20px;
  }