/**
 * User panel is the section that contains and displays all the information
 * needed for the user.
 */
.user-panel {
  position: absolute;
  width: $hpc;
  margin-top: 23px; // coz there is an outline of the same size
  border-top: 5px solid black;
  background: purple;
  z-index: 2;
  }

.game-details {
  background: rgba(10,10,10,1);
  width: $hpc;
  margin: 0;
  padding: {
    top: 15px;
    bottom: 15px;
    }
  }

table {
  width: $hpc;
  margin: 0 auto;
  border-collapse: collapse;
  }

td {
  width: ($hpc / 3);
  margin: 0;
  }

.small-heading {
  margin: 0;
  font: {
    family: $small-heading;
    size: 20px;
    }
  line-height: normal;
  }

.the-player-name {
  font: {
    size: 50px;
    weight: bolder;
    family: $main-display-bold;
    }
  }



.the-player-name { color: white; }