.vehicle {
  position: absolute;
  top: 125px;
  left: 100px;
  width: 120px;
  height: 60px;
  @include car-color(background-color, 1);
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  @include black(border-color, 0.75);
  box-shadow:
    inset 0 0 25px rgba(0,0,0,0.5),
    inset -14px 0 2px rgba(0,0,0,0.25),
    inset 10px 0 2px rgba(0,0,0,0.35),
    0 0 10px 0 rgba(0,0,0,0.5);
  transition: ($duration / 2);
  }

.vehicle-glass {
  position: relative;
  top: 4px;
  left: 5px;
  width: 80px;
  height: 52px;
  background-color: cadetblue;
  border-radius: 15px;
  border-right: 2px solid black;
  border-left: 1px solid black;
  box-shadow:
    inset 0 0 25px rgba(0,0,0,0.95),
    5px 0 2px rgba(0,0,0,0.25);
  }

.vehicle-roof {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 60px;
  height: 50px;
  @include car-color(background-color, 1);
  border-radius: 15px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  box-shadow: inset 0 0 25px rgba(0,0,0,0.5);
  }

.vehicle-sunroof {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 20px;
  height: 40px;
  background-color: cadetblue;
  border-radius: 5px;
  box-shadow:
    inset 0 0 15px rgba(0,0,0,0.75),
    0 0 15px rgba(0,0,0,0.5);
  }

.vehicle-headlights {
  position: absolute;
  width: 8px;
  height: 15px;
  left: 110px;
  @include black(background-color, 0.35);
  transition: 0.5s;
  }

  .vehicle-headlights_on {
    width: 3px;
    left: 108px;
    @include car-headlights(background-color, 1);
    border-left: 3px solid black;
    box-shadow: 150px 0 150px 20px rgb(255,255,159);
    }

.headlights-left {
  top: 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  }

.headlights-right {
  top: 40px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  }

.vehicle-taillights {
  position: absolute;
  width: 3px;
  height: 10px;
  left: -2px;
  @include black(background-color, 0.35);
  transition: 1s;
  }

  .vehicle-taillights_on {
    @include car-taillights(background-color);
    box-shadow: -10px 0 20px 2px $color-red;
    }

.taillights-left {
  top: 10px;
  border-top-left-radius: 15px;
  }

.taillights-right {
  top: 40px;
  border-bottom-left-radius: 15px;
  }

.vehicle-rear-indicators {
  position: absolute;
  width: 3px;
  height: 5px;
  left: -2px;
  @include black(background-color, 0);
  }

  .vehicle-indicators_on {
    animation: indicator_on 1s ease infinite;
    }

  @keyframes indicator_on {
    0% { background-color: transparent; }
    50% {
      @include car-indicators(background-color);
      box-shadow: -10px 0 20px 4px $color-orange;
      }
    100% { background-color: transparent; }
    }


.rear-indicator-left {
  top: 10px;
  border-top-left-radius: 15px;
  }
.rear-indicator-right {
  top: 45px;
  border-bottom-left-radius: 15px;
  }