@charset "UTF-8";
/**
 * Let's use interpolation on colors, so they aren't dependent on individual
 * CSS porperties. We are applying RGB colors with an optional opacity value,
 * therefore if opacity is not given, then it falls back to default value, 1,
 * which is not transparent at all.
 */
@font-face {
  font-family: "Zzyzx";
  src: url("fonts/zzyzx.ttf") format("truetype");
}

@font-face {
  font-family: "Seattle Sans";
  src: url("fonts/seasans.ttf") format("truetype");
}

/*body { animation: load-up $duration ease-in; }

@mixin load-up-ani {
  0%    { opacity: 0.5; }
  100%  { opacity: 1;   }
  }*/
/**
 * Animation for setting night time on the elements of the gameframe.
 * Currently inactive, and needs elaboration.
 */
/*
.gameframe {
  //animation: nighttime 20s ease-in-out infinite
  }

@keyframes nighttime {
  0%    {}
  50%   { @include black(background-color, 1); }
  100%  { @include grass-green(background-color, 1); }
  }
*/
/**
 * Roadtrack animations.
 */
/* line 29, scss/_animations.scss */
.roadtrack-motion {
  animation-name: start, motion;
  animation-duration: 750ms, 100ms;
  animation-timing-function: ease-in, linear;
  animation-delay: 0ms, 750ms;
  animation-iteration-count: 1, infinite;
}

@keyframes start {
  /* line 38, scss/_animations.scss */
  from {
    left: 0;
  }

  /* line 39, scss/_animations.scss */
  to {
    left: -55px;
  }
}

@keyframes motion {
  /* line 43, scss/_animations.scss */
  from {
    left: -25px;
  }

  /* line 44, scss/_animations.scss */
  to {
    left: -55px;
  }
}

/**
 * Pothole or sewer, whatever you want.
 */
/* line 52, scss/_animations.scss */
.pothole {
  animation-name: pothole-motion;
  animation-duration: 13s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pothole-motion {
  /* line 61, scss/_animations.scss */
  100% {
    right: 2000px;
  }
}

/**
 * Lamp post animations.
 */
/* line 67, scss/_animations.scss */
.lamp-post {
  animation-name: lamp-post-motion;
  animation-duration: 19.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes lamp-post-motion {
  /* line 76, scss/_animations.scss */
  100% {
    right: 3000px;
  }
}

/* line 79, scss/_animations.scss */
.lamp-head {
  animation: 41s linear infinite;
  animation-name: lamp-light-color;
  animation-duration: 39s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes lamp-light-color {
  /* line 91, scss/_animations.scss */
  17% {
    box-shadow: 0 35px 175px 50px #ffb442;
  }

  /* line 92, scss/_animations.scss */
  17.05% {
    box-shadow: none;
  }

  /* line 93, scss/_animations.scss */
  17.1% {
    box-shadow: 0 35px 175px 25px #ffb442;
  }

  /* line 94, scss/_animations.scss */
  18% {
    box-shadow: 0 15px 100px 15px #ffb442;
  }

  /* line 95, scss/_animations.scss */
  18.1% {
    box-shadow: 0 35px 175px 50px #ffb442;
  }

  /* line 98, scss/_animations.scss */
  50% {
    box-shadow: 0 35px 175px 50px #ffb442;
  }

  /* line 99, scss/_animations.scss */
  51% {
    box-shadow: 0 60px 220px 60px #e05e07;
  }

  /* line 100, scss/_animations.scss */
  100% {
    box-shadow: 0 60px 220px 60px #e05e07;
  }
}

/* line 3, scss/_base.scss */
*,
*:after,
*:before {
  box-sizing: border-box;
}

/* line 7, scss/_base.scss */
body {
  margin: auto;
  height: 100vh;
  overflow-x: hidden;
  background-color: #422e2f;
  font-size: 20px;
  box-shadow: inset 0 -100px 10px 0 rgba(0, 0, 0, 0.25);
}

/* line 18, scss/_base.scss */
.gameframe {
  width: 120%;
  height: 225px;
  left: 0;
  padding-top: 0px;
  margin: auto;
  background-color: #45541b;
  box-shadow: inset -20px 0 50px #131b06;
}

/* line 29, scss/_base.scss */
.mainframe {
  animation: load-up 1000ms ease-in;
}

@keyframes load-up {
  /* line 34, scss/_base.scss */
  0% {
    opacity: 0;
  }

  /* line 35, scss/_base.scss */
  100% {
    opacity: 1;
  }
}

/* line 38, scss/_base.scss */
p {
  width: 100%;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 20px;
}

/* line 44, scss/_base.scss */
.hide-element {
  display: none;
  transition: 500ms;
}

/* line 49, scss/_base.scss */
h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}

/**
 * Main screen
 *
 * - Title,
 * - Story,
 * - Player input area,
 * - Extras,
 * - Info
 * + Game Over
 */
/* line 12, scss/_main-screen.scss */
.main-screen {
  clear: both;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100vh;
  margin: auto;
  opacity: 0.95;
  color: white;
  text-align: center;
  background: #c8c8c8;
  border: 10px solid #422e2f;
  border-radius: 20px;
}

/* line 28, scss/_main-screen.scss */
.main-screen-title {
  font-family: "Luckiest Guy", cursive;
  font-size: 60px;
  font-weight: normal;
  text-shadow: 0 2px 0 #787878, 0 6px 0 black;
  letter-spacing: 5px;
}

/* line 40, scss/_main-screen.scss */
.main-screen-subtitle {
  font-size: 40px;
}

/* line 46, scss/_main-screen.scss */
.input-field {
  font-family: "Zzyzx", "Seattle Sans", sans-serif;
  width: 300px;
  font-size: 40px;
  text-align: center;
  border: 5px solid blue;
}
/* line 53, scss/_main-screen.scss */
.input-field:focus {
  border: 5px solid blue;
  box-shadow: 0 0 25px blue;
}

/* line 59, scss/_main-screen.scss */
.main-screen {
  color: white;
}

/**
 * User panel is the section that contains and displays all the information
 * needed for the user.
 */
/* line 5, scss/_user-panel.scss */
.user-panel {
  position: absolute;
  width: 100%;
  margin-top: 23px;
  border-top: 5px solid black;
  z-index: 2;
}

/* line 13, scss/_user-panel.scss */
.game-details {
  background: #422e2f;
  box-shadow: inset 0 85px 15px 0 #5c4648;
  width: 100%;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 25, scss/_user-panel.scss */
table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

/* line 31, scss/_user-panel.scss */
td {
  width: 33.33333%;
  margin: 0;
}

/* line 36, scss/_user-panel.scss */
.small-heading {
  margin: 0;
  font-family: "Teko", sans-serif;
  font-size: 20px;
  line-height: normal;
}

/**
 * Dashboard
 */
/* line 5, scss/_dashboard.scss */
.dashboard-area {
  user-select: none;
}

/* line 7, scss/_dashboard.scss */
.dashboard {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  background-color: #453e3d;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75), 0 10px 10px 0 rgba(0, 0, 0, 0.75), inset 0 25px 15px 0 rgba(0, 0, 0, 0.3), inset 0 -30px 30px 0 #2a262c, inset 0 0 30px 0 black, 0 15px 50px 0 rgba(235, 159, 76, 0.3);
  font-family: "VT323", monospace;
  color: rgba(235, 159, 76, 0.95);
  text-align: center;
  text-shadow: 1px 1px 1px rgba(85, 8, 0, 0.75), 0 0 10px rgba(235, 159, 76, 0.5);
}

/* line 38, scss/_dashboard.scss */
.inverse-disp {
  padding-left: 2px;
  padding-right: 2px;
  background-color: rgba(235, 159, 76, 0.85);
  border-radius: 2px;
  color: #373231;
  text-shadow: none;
  box-shadow: 0 0 2px rgba(85, 8, 0, 0.5);
}

/**
 * Dashboard text sizes
 */
/* line 53, scss/_dashboard.scss */
.small-text {
  font-size: 22px;
}

/* line 54, scss/_dashboard.scss */
.medium-text {
  font-size: 28px;
}

/* line 55, scss/_dashboard.scss */
.large-text {
  font-size: 36px;
}

/**
 * Clock
 */
/**
 * Odometer
 */
/* line 69, scss/_dashboard.scss */
.odometer-area {
  width: 75%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgba(235, 159, 76, 0.35);
}

/* line 79, scss/_dashboard.scss */
.odometer {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 36px;
}

/**
 * Energy area
 */
/* line 90, scss/_dashboard.scss */
.energy-area {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(235, 159, 76, 0.35);
}

/**
 * Status icons
 */
/* line 102, scss/_dashboard.scss */
.status-icons-area {
  width: 100%;
  margin: auto;
  text-align: center;
}

/* line 108, scss/_dashboard.scss */
.status-icon {
  width: 25px;
}

/* line 110, scss/_dashboard.scss */
.icon-driver {
  width: 14px;
}

/* line 114, scss/_dashboard.scss */
.icon-left-index,
.icon-right-index {
  width: 16px;
}

/* line 120, scss/_dashboard.scss */
.icon-battery {
  width: 18px;
}

/* line 121, scss/_dashboard.scss */
.icon-doors {
  width: 20px;
}

/* line 1, scss/_roadtrack.scss */
.roadtrack {
  position: relative;
  display: block;
  width: 100%;
  height: 94px;
  background-color: #272c25;
  box-shadow: inset -15px 0 10px 10px rgba(39, 44, 37, 0.75), inset 0 20px 10px 10px #3d514f, inset 0 35px 15px 5px #435654, inset 0 62px 15px 5px #4f6260, inset 0 -20px 2px 10px #3d514f, -20px 0 20px #131b06;
}

/* line 18, scss/_roadtrack.scss */
.track-left {
  border-top: 5px double;
  border-top-color: #f9d074;
}

/* line 22, scss/_roadtrack.scss */
.track-right {
  border-bottom: 5px double;
  border-bottom-color: #f9d074;
}

/* line 27, scss/_roadtrack.scss */
.roadtrack-separator {
  border-bottom: 5px dashed;
  border-bottom-color: white;
}

/* line 1, scss/_pothole.scss */
.pothole {
  position: relative;
  width: 30px;
  height: 30px;
  top: -50px;
  right: -2000px;
  background: #4a4a2e;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.85);
  border-radius: 50%;
}

/* line 1, scss/_lamp-post.scss */
.lamp-post {
  position: relative;
  width: 50px;
  height: 60px;
  top: 15px;
  right: -3000px;
  z-index: 1;
}

/* line 10, scss/_lamp-post.scss */
.lamp-head {
  margin: auto;
  width: 20px;
  height: 40px;
  background: #1e1e1e;
  border: 5px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 35px 175px 25px #ffb442;
}

/* line 23, scss/_lamp-post.scss */
.head-support {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 5px;
  height: 10px;
  background: #1e1e1e;
}

/* line 33, scss/_lamp-post.scss */
.post-elem {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #1e1e1e;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5), inset 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

/**
 * This is the car's base.
 */
/* line 4, scss/_vehicle.scss */
.vehicle {
  position: absolute;
  top: 165px;
  left: 100px;
  width: 125px;
  height: 60px;
  background-color: #a50000;
  border-color: rgba(0, 0, 0, 0.65);
  border-radius: 15px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-width: 1px;
  border-style: solid;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), inset -15px 0 10px rgba(0, 0, 0, 0.5), inset 10px 0 2px rgba(0, 0, 0, 0.35), inset 0 25px 10px #a50000, inset 0 30px 25px rgba(255, 255, 255, 0.3), inset 0 55px 10px #a50000, 0 0 10px 0 rgba(0, 0, 0, 0.5), -2px 5px 3px rgba(0, 0, 0, 0.75);
  transition: 500ms;
}

/* line 34, scss/_vehicle.scss */
.vehicle-glass {
  position: relative;
  top: 2px;
  left: 6px;
  width: 80px;
  height: 54px;
  background-color: #053232;
  border-radius: 15px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.5), inset 5px 0 10px rgba(0, 0, 0, 0.5), 5px 0 10px rgba(0, 0, 0, 0.35), inset 0 20px 10px #053232, inset 0 25px 25px rgba(255, 255, 255, 0.35), inset 0 45px 10px #053232, 4px 0 0 0 #a50000, 5px 0 0 rgba(0, 0, 0, 0.25);
}

/* line 61, scss/_vehicle.scss */
.vehicle-roof {
  position: absolute;
  top: 4px;
  left: 15px;
  width: 60px;
  height: 50px;
  background-color: #a50000;
  border-radius: 15px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.85);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5), inset -5px 0 5px 0 rgba(0, 0, 0, 0.25), inset 10px 0 5px 0 rgba(0, 0, 0, 0.25), inset 0 20px 10px #a50000, inset 0 25px 25px rgba(255, 255, 255, 0.3), inset 0 50px 10px #a50000;
}

/* line 85, scss/_vehicle.scss */
.vehicle-doors {
  position: absolute;
  top: 0;
  left: 35px;
  width: 30px;
  height: 3px;
  background-color: #a50000;
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.5), inset -10px 0 5px 0 rgba(0, 0, 0, 0.5);
}

/* line 98, scss/_vehicle.scss */
.vehicle-left-door {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 10px;
}

/* line 104, scss/_vehicle.scss */
.vehicle-right-door {
  top: 56px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 10px;
}

/* line 113, scss/_vehicle.scss */
.open-left-door {
  animation: open-left-door 1s ease-out infinite forwards;
}

/* line 114, scss/_vehicle.scss */
.open-right-door {
  animation: open-right-door 1s ease-out infinite forwards;
}

@keyframes open-left-door {
  /* line 117, scss/_vehicle.scss */
  10% {
    border-bottom: 1px solid transparent;
    transform: translateY(-3px);
  }

  /* line 121, scss/_vehicle.scss */
  11% {
    border-bottom: 1px solid #053232;
  }

  /* line 122, scss/_vehicle.scss */
  100% {
    transform: translateY(-2px) translateX(-2px) rotate(70deg);
    transform-origin: bottom right;
    border-bottom: 1px solid #053232;
  }
}

@keyframes open-right-door {
  /* line 130, scss/_vehicle.scss */
  10% {
    border-bottom: 1px solid transparent;
    transform: translateY(3px);
  }

  /* line 134, scss/_vehicle.scss */
  11% {
    border-bottom: 1px solid #053232;
  }

  /* line 135, scss/_vehicle.scss */
  100% {
    transform: translateX(-2px) rotate(-70deg);
    transform-origin: bottom right;
    border-bottom: 1px solid #053232;
  }
}

/* line 142, scss/_vehicle.scss */
.vehicle-mirrors {
  position: absolute;
  left: 22px;
  width: 5px;
  height: 10px;
  background: #a50000;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5), inset 2px 0 4px 0 rgba(0, 0, 0, 0.75);
}

/* line 153, scss/_vehicle.scss */
.vehicle-left-mirror {
  top: -6px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* line 160, scss/_vehicle.scss */
.vehicle-right-mirror {
  top: -2px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* line 168, scss/_vehicle.scss */
.vehicle-headlights {
  position: absolute;
  width: 8px;
  height: 15px;
  left: 106px;
  background-color: rgba(0, 0, 0, 0.35);
  transition: 0.5s;
}

/* line 179, scss/_vehicle.scss */
.vehicle-headlights_on {
  width: 3px;
  left: 108px;
  background-color: #ffff9f;
  border-left: 1px solid black;
  box-shadow: 250px 0 250px 35px #ffff9f;
}

/* line 188, scss/_vehicle.scss */
.headlights-left {
  top: 3px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
}

/* line 193, scss/_vehicle.scss */
.headlights-right {
  top: 40px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 5px;
}

/* line 199, scss/_vehicle.scss */
.vehicle-taillights {
  position: absolute;
  width: 3px;
  height: 10px;
  left: -2px;
  background-color: rgba(0, 0, 0, 0.35);
  transition: 1s;
}

/* line 210, scss/_vehicle.scss */
.vehicle-taillights_on {
  background-color: #ae0000;
  box-shadow: -15px 0 35px 5px #a50000;
}

/* line 215, scss/_vehicle.scss */
.taillights-left {
  top: 10px;
  border-top-left-radius: 15px;
}

/* line 219, scss/_vehicle.scss */
.taillights-right {
  top: 40px;
  border-bottom-left-radius: 15px;
}

/**
 * Rear indicator lights.
 */
/* line 228, scss/_vehicle.scss */
.vehicle-rear-indicators {
  position: absolute;
  width: 3px;
  height: 5px;
  left: -2px;
  background-color: rgba(0, 0, 0, 0);
}

/* line 238, scss/_vehicle.scss */
.rear-indicators_on {
  animation: rear-indicators_on 1s ease infinite;
}

@keyframes rear-indicators_on {
  /* line 242, scss/_vehicle.scss */
  0% {
    background-color: transparent;
  }

  /* line 243, scss/_vehicle.scss */
  50% {
    background-color: #fe9301;
    box-shadow: -10px 0 40px 8px #fe9301;
  }

  /* line 247, scss/_vehicle.scss */
  100% {
    background-color: transparent;
  }
}

/* line 250, scss/_vehicle.scss */
.rear-indicator-left {
  top: 8px;
  border-top-left-radius: 15px;
}

/* line 254, scss/_vehicle.scss */
.rear-indicator-right {
  top: 45px;
  border-bottom-left-radius: 15px;
}

/**
 * Front indicator lights.
 */
/* line 263, scss/_vehicle.scss */
.vehicle-front-indicators {
  position: absolute;
  width: 2px;
  height: 10px;
  left: 116px;
  background-color: rgba(0, 0, 0, 0.25);
}

/* line 273, scss/_vehicle.scss */
.front-indicators_on {
  animation: front-indicators_on 1s ease infinite;
}

@keyframes front-indicators_on {
  /* line 277, scss/_vehicle.scss */
  50% {
    background-color: #fe9301;
    box-shadow: 25px 0 50px 10px #fe9301;
  }
}

/* line 283, scss/_vehicle.scss */
.front-indicator-left {
  top: 8px;
  border-top-right-radius: 15px;
}

/* line 287, scss/_vehicle.scss */
.front-indicator-right {
  top: 40px;
  border-bottom-right-radius: 15px;
}

/**
 * Extras
 */
/* line 296, scss/_vehicle.scss */
.vehicle-sunroof {
  position: absolute;
  top: 9px;
  left: 42px;
  width: 20px;
  height: 40px;
  background-color: #053232;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.75), 0 0 15px rgba(0, 0, 0, 0.5), inset 0 15px 10px #053232, inset 0 25px 15px rgba(255, 255, 255, 0.25), inset 0 35px 10px #053232;
}

/**
 * Styling of the generated license plate.
 *
 * The plate that gets recreated here is similar to what was was being used in
 * California, USA from 1963 and was issued until 1970.
 * More info on that topic here: http://www.worldlicenseplates.com/
 */
/* line 10, scss/_plate.scss */
.license-plate {
  float: right;
  user-select: none;
}

/* line 16, scss/_plate.scss */
.plate-base {
  width: 250px;
  height: 125px;
  background-color: #1a1a1c;
  background-image: linear-gradient(#141414, #282828, #1a1a1c);
  box-shadow: inset 0 0 0 3px #181319, inset 0 -1px 0 4px rgba(255, 255, 255, 0.15), inset 0 0 0 5px #1e1e1e, inset 0 0 10px 5px black, 0 2px 15px 4px rgba(0, 0, 0, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  text-align: center;
  /**
   * The following rules are needed because there is a pseudo element (:after)
   * on a child of this element which is positioned by manipulating the local
   * stacking context. (Z-index only works if position is specified.)
   * More info at the .plate-identifier declaration block.
   */
  position: relative;
  z-index: 1;
}

/* line 49, scss/_plate.scss */
.plate-sticker {
  display: inline-table;
  position: relative;
  top: 10px;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 5px 0 rgba(255, 255, 255, 0.1), inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: transparent;
  color: rgba(110, 99, 90, 0.35);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.75), 0 0 3px rgba(0, 0, 0, 0.25);
  font-family: "Rockwell";
  font-size: 18px;
  font-vertical-align: middle;
}

/* line 74, scss/_plate.scss */
.plate-text {
  display: inline;
  position: relative;
  top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  color: #f59c33;
  font-size: 16px;
  font-family: "Zzyzx", "Seattle Sans", sans-serif;
  font-weight: bolder;
  letter-spacing: 3px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), 0 -1px 1px rgba(255, 255, 255, 0.75);
}

/* line 95, scss/_plate.scss */
.plate-identifier {
  position: relative;
  margin: 0;
  margin-top: 0;
  font-size: 76px;
  font-weight: bolder;
  font-family: "Zzyzx", "Seattle Sans", sans-serif;
  letter-spacing: 4px;
  color: #f59c33;
  /**
   * In order to create text with a gradient effect, the following rules are
   * needed. Browsers that don't support them will fall back to the above color
   * property.
   *
   * Note: Since background-clip does not work with text-shadow, the :after
   * pseudo element is utilised, see below.
   */
  background-image: linear-gradient(#f0a32d 65%, #573104);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 125, scss/_plate.scss */
.plate-identifier:after {
  position: absolute;
  width: inherit;
  content: attr(data-text);
  left: 0;
  background: none;
  text-shadow: 0 2px 1px black, 0 -2px 1px rgba(255, 255, 255, 0.5);
  z-index: -1;
}

/* line 1, scss/_controls.scss */
.move-left {
  top: 75px;
  transition: 2s;
}

/* line 6, scss/_controls.scss */
.move-right {
  top: 165px;
  transition: 2s;
}
